* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    max-width: 500px;
    margin: auto;
}

/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    height: 3.5em;    
    padding-top: 0.5em;
}
.header-container img {
    margin: 0.5em;
}

/* DOG-ITEM */
.dog-picture {
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
}
.text-box {
    position: absolute;
    bottom: 5em;
    left: 2em;
}
.profile-data {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 0.2em;
}
.profile-bio {
    color: rgb(39, 222, 228);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    margin: 1em;
    gap: 25px;
}
button {
    background-color: white;
    border-radius: 50%;  
    border: none;
    box-shadow: 0px 10px 20px #E9E9EA;
}
button img {
    margin: 1em;
    width: 26px;
    height: 26px;
}
.like-btn:hover {
    background-color: #DBFFF4;
}
.reject-btn:hover {
    background-color :#FFE7EF;
}

/* MODAL */
.modal {
    display: block;    
    position: absolute;
    left: 20;
    top: 60;
    margin: auto;
}
.modal img {
    width: 50%;
    height: auto;
    transform: rotate(330deg);
}